.ico{
    width: 30%;
}
.main1{
    padding-right: 25%;
}
.per{
    color: aqua;
}
.main2{
    padding-right: 13%;
}
.main3{
    padding-right: 13%;
}
.main2{
    padding-right: 13%;
}
.main3{
    padding-right: 100%;
}
.main4{
    padding-right: 7%;
    font-size: 150%;
}
.main5{
    font-size: 150%;
}