.ico{
    width: 30%;
}
.main1{
    padding-right: 25%;
}
.per{
    color: aqua;
}
.main2{
    padding-right: 13%;
}
.main3{
    padding-right: 13%;
}
.main2{
    padding-right: 13%;
}
.main3{
    padding-right: 100%;
}
.main4{
    padding-right: 7%;
    font-size: 150%;
}
.main5{
    font-size: 150%;
}
.bg1{
    background-color: #FFF3E3;
    width: 8%;
    height: 1%;
}
.qwe{
    padding-top: 10%;
}
.qwe1{
}
.t1{
    color: #B88E2F;
}
.but111{
    width: 25%;
    height: 10%;
    margin-bottom: 5%;
}